body{
	background: url("images/full.jpg");
	background-size: contain;
	color: white;
	text-align: justify;
	margin-top: 20px;
	margin-left: 40px;
}

span{
	background-color: yellow;
	color: black;
	font-size: 20px;
}

h3{

	background-color: yellow;
	color: #FF33FF;
}

.update{

	border-color: 2px solid yellow;
}